<div class="chat-window">
    <ul>
        <li>
            <img class="icon" src="http://i.imgur.com/cMdQnmI.jpg">
            <div class="message-content">
                <div class="username">Bucky Roberts</div>
                Hey guys, do you like bacon?
            </div>
        </li>
        <li>
            <img class="icon" src="images/sample-user-1.jpg">
            <div class="message-content">
                <div class="username">Barbara Walters</div>
                Here is some code I wrote. It's really bad lol.
<pre class="prettyprint">int main(){

    int bertha[2][3] = {{1,2,3},{7,8,9}};

    for(int row=0; row<2; row++){
        for(int column=0; column<3;column++){
            cout << bertha[row][column] << " ";
        }
        cout << endl;
    }
}
</pre>
            </div>
        </li>
        <li>
            <img class="icon" src="images/sample-user-2.png">
            <div class="message-content">
                <div class="username">Emily Williams</div>
                Hey guys, do you like bacon?
            </div>
        </li>
        <li>
            <img class="icon" src="http://i.imgur.com/cMdQnmI.jpg">
            <div class="message-content">
                <div class="username">Bucky Roberts</div>
                <img src="images/cute-monkey.jpg">
            </div>
        </li>
        <li>
            <img class="icon" src="images/sample-user-1.jpg">
            <div class="message-content">
                <div class="username">Barbara Walters</div>
                Hey guys, do you like bacon?
            </div>
        </li>
        <li>
            <img class="icon" src="images/sample-user-2.png">
            <div class="message-content">
                <div class="username">Emily Williams</div>
                Hey guys, do you like bacon?
            </div>
        </li>
        <li>
            <img class="icon" src="images/sample-user-1.jpg">
            <div class="message-content">
                <div class="username">Barbara Walters</div>
                Hey guys, do you like bacon?
            </div>
        </li>
        <li>
            <img class="icon" src="images/sample-user-2.png">
            <div class="message-content">
                <div class="username">Emily Williams</div>
                Hey guys, do you like bacon?
            </div>
        </li>
        <li>
            <img class="icon" src="http://i.imgur.com/cMdQnmI.jpg">
            <div class="message-content">
                <div class="username">Bucky Roberts</div>
                Hey guys, do you like bacon?
            </div>
        </li>
        <li>
            <img class="icon" src="images/sample-user-1.jpg">
            <div class="message-content">
                <div class="username">Barbara Walters</div>
                Hey guys, do you like bacon?
            </div>
        </li>
        <li>
            <img class="icon" src="images/sample-user-2.png">
            <div class="message-content">
                <div class="username">Emily Williams</div>
                Hey guys, do you like bacon?
            </div>
        </li>
    </ul>
</div>

<div class="bottom">
    <div class="compose-toolbar">
        <a href="#" id="star"><i class="fa fa-star" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-italic" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-image" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-code" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-smile-o" aria-hidden="true"></i></a>
    </div>
    <div class="compose">
        <form>
            <textarea class="chatTextArea" rows="4" title="textArea"></textarea>
            <div>
                <button class="button-danger">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</div>
