@import "themes/default/variables";

$chat-spacing: 8px;

.chat-window{
	background-color: rgba(255, 255, 255, 0.5);
	color: #222;
	height: 0;
	overflow-y: auto;

	& > ul{
		margin: 0;
		padding: 12px;

		& > li{
			align-items: flex-start;
			border-bottom: 1px solid #ccc;
			display: flex;
			margin-bottom: $chat-spacing;
			padding-bottom: 10px;

			&:last-child{
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}

			img.icon {
				margin-right: $chat-spacing;
				width: 60px;
			}

			.message-content {
				flex: 1;

				.username{
					font-weight: 500;
				}

			}

		}
	}

}

.bottom {
	background-color: rgba($primary-light, 0.5);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;

	.compose-toolbar {
		background-color: $primary-light;
		display: flex;

		a {
			border-right: 1px solid $primary-light * 1.1;
			color: #fff;
			display: inline-block;
			font-size: 14px;
			padding: 6px 12px;

			&:hover {
				background-color: $primary-light * 0.8;
				color: #fff;
			}
		}

	}

	.compose {
		padding: 10px 12px 16px;

		form {
			display: flex;

			textarea {
				border: 1px solid #888;
				flex: 1;
				margin-right: 10px;
			}

		}

	}

}
