@import "themes/default/variables";

@font-face {
	font-family: AgathaNeedsFlesh;
	src: url('../fonts/AgathaNeedsFlesh.ttf');
}

.login-screen {
	align-items: center;
	background: $primary;
	display: flex;
	flex-direction: column;
	height: 100%;

	.main-content{
		background: rgba(white, 0.08);
		border: 1px solid rgba(white, 0.1);
		margin-top: 15%;
		padding: 16px 32px 72px;
		text-align: center;
		width: 40%;

		.logo {
			color: white;
			font-family: 'AgathaNeedsFlesh', serif;
			font-size: 8em;
		}

		form {

			& > * {
				border: none;
				display: block;
				padding: 0;
				width: 100%;
			}

			textarea {
				margin-bottom: 12px;
				resize: vertical;
			}

			button {
				font-weight: 300;
				padding: 6px;
			}

		}


	}

}